@tailwind base;
@tailwind components;
@tailwind utilities;

.tooltip {
  position: relative;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 150px;
  background-color: rgb(71 85 105);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  top: -27px;
  left: -50px; 
  position: absolute;
  z-index: 1000;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 55px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}